#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

#define termfont      envypn
*font:           	  termfont
URxvt*boldFont:       termfont
URxvt*italicFont:     termfont
URxvt*boldItalicFont: termfont
URxvt*letterSpace: 0
URxvt*lineSpace: 0

*scrollBar: false
*allow_bold: false

URxvt*internalBorder: 50
URxvt*url-launcher: /usr/bin/firefox

rofi.font: envypn 11
rofi.width: 20
rofi.lines:20
rofi.columns: 1
rofi.opacity: 80
rofi.padding: 50
rofi.case-sensitive: false
rofi.fuzzy: true
rofi.glob: true
rofi.terminal: urxvt
rofi.ssh-client: ssh
rofi.ssh-command: {terminal} -e "{ssh-client} {host}"
rof.sidebar-mode: true
rofi.tokenize: true

rofi.hide-scrollbar: true
rofi.theme: ~/.cache/wal/colors-rofi-dark.rasi
